.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(200px, 1fr));
  grid-template-rows: 5vh;
  grid-auto-rows: 78vh;
  overflow: auto;
}
.calendar-container {
  width: 100vw;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
}

.calendar-header {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(to bottom, rgb(250, 251, 253) 0%,rgba(255,255,255,0) 100%);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
}

.calendar-header h1 {
  margin: 0;
  font-size: 25px;
}

.calendar p {
  margin: 5px 0 0 0;
  font-size: 13px;
  font-weight: 600;
  color: rgba(#51565d, .4);
}

.calendar .button {
  background: 0;
  border: 0;
  padding: 0;
  color: rgba(#51565d, .7);
  cursor: pointer;
  outline: 0;
}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  z-index: 1;
  overflow:auto;
  max-height: 100%;
  max-width:100%;
  transition: background-color 1s;
}

.day:hover {
  background-color: #FFFFF1;
  cursor:pointer;
}

.day-title {
  display:inline-block;
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;

}

.task {

  box-sizing:content-box;
  transition: background-color 0.2s;
  background-color: #F8F8F8;
  border-width:3px;
  border-left-width: 15px;
  border-radius: 10px 10px 10px 10px;
  padding: 0px 12px 0px 12px;
  margin-top: 10px;
  border-left-style: solid;
  font-size: 14px;
  position:relative;
  display:inline-block;
  z-index:2;
  box-shadow: 0px 2px 5px lightgray;

}

.task:hover {
  background-color: #F8FFFF;
  cursor:pointer;
}

.task:active {
  background-color: #F0EFFF;
}


.button-create-event-container{
  display:inline-block;
  position:fixed;
  right:1.5vh;
  bottom:3vh;
  z-index:3;
}

.btn-create-event {
  border-style: solid;
  border-color:rgba(44, 80, 42, 0.71);
  border-width:2px;
  width:9vw;
  height:9vh;
  display:inline-block;
  background-color: rgba(44, 80, 42, 0.71); /*escolha da bruna*/
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 5px -1px rgba(44, 80, 42, 0.99);
  font-size:20px;
}

.btn-create-event:hover {
  background-color: rgba(44, 80, 42, 0.80)
}

.btn-create-event:active {
  background-color: rgba(44, 80, 42, 0.90)
}

.whole-page-container {
  display:none;
  position:fixed;
  width:80vw;
  height:100vh;
  z-index:3;
}

.create-event-container {
  /*display: none*/;
  position:fixed;
  z-index:3;
  background-color: lightgray;
  border-radius: 10px 10px 10px 10px;
  width:50vw;
  max-height:80vh;
  top:20vh;
  bottom:20vh;
  left:35vw;
  overflow:auto;
}

.date-end-class {

}

.waitingForConnection {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
}

.blink_me {
  animation: blinker 1s linear 5; /*Not infinite*/
}

@keyframes blinker {
  50% {
    border-style: solid;
    border-color:red;
    box-shadow: 2px 2px 5px -1px
  }
}
