.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(200px, 1fr));
  grid-template-rows: 5vh;
  grid-auto-rows: 75vh;
  overflow: auto;

  &-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
    max-width: 1200px;
  }

  &-header {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to bottom, rgb(250, 251, 253) 0%,rgba(255,255,255,0) 100%);
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);

    h1 {
      margin: 0;
      font-size: 18px;
    }

    p {
      margin: 5px 0 0 0;
      font-size: 13px;
      font-weight: 600;
      color: rgba(#51565d, .4);
    }

    button {
      background: 0;
      border: 0;
      padding: 0;
      color: rgba(#51565d, .7);
      cursor: pointer;
      outline: 0;
    }
  }
}

.day-title {
  display:inline-block;
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;

}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  z-index: 1;
  overflow:auto;
  max-height: 100%;
  max-width:100%;
  transition: background-color 1s;
}

.day:hover {
  background-color: #FFFFF1;
  cursor:pointer;
}

.task {

  box-sizing:content-box;
  transition: background-color 0.2s;
  background-color: #F8F8F8;
  border-width:3px;
  border-left-width: 15px;
  border-radius: 10px 10px 10px 10px;
  padding: 0px 12px 0px 12px;
  margin-top: 10px;
  border-left-style: solid;
  font-size: 14px;
  position:relative;
  display:inline-block;
  z-index:2;

}

.task:hover {
  background-color: #F8FFFF;
  cursor:pointer;
}

.button-create-event-container{
  display:inline-block;
  position:fixed;
  right:1.5vh;
  bottom:5vh;
  z-index:3;
}

.btn-create-event {
  width:200px;
  height:100px;
  display:inline-block;
  background-color: rgba(44, 80, 42, 0.71); /*escolha da bruna*/
  border-radius: 10px 10px 10px 10px;
  font-size:20px;
}
